<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.LogininfoMapper">

    <insert id="userRegister">
        insert into logininfo(username, password, phoneNumber, state, userType) values(#{username},#{password},#{phoneNumber},0,0)
    </insert>


    <update id="updateLoginInfoState">
        UPDATE logininfo SET
        <if test="state!=null">
            state = #{state},
        </if>
        <if test="username!=null and username!='' ">
             username=#{username},
        </if>
        <if test="password!=null and password!='' ">
            password=#{password},
        </if>
        <if test="phoneNumber!=null and phoneNumber!='' ">
            phoneNumber=#{phoneNumber},
        </if>
        <if test="userType!=null and userType!='' ">
            userType=#{userType},
        </if>
        id=id WHERE id = #{id}
    </update>


    <update id="updateLoginInfoUserType">
        update logininfo set userType = #{userType} where id = #{id}
    </update>


    <select id="getUserByNameAndPwd" resultType="com.zking.ssm.model.Logininfo" parameterType="com.zking.ssm.model.Logininfo">
        select * from logininfo where username=#{username} and password=#{password}
    </select>


    <select id="getLoginInfosByUserType" resultType="com.zking.ssm.model.Logininfo">
        select  * from logininfo where userType = #{userType}
    </select>

    <select id="getLogininfo" resultType="com.zking.ssm.model.Logininfo">
        select  * from logininfo where id = #{id}
    </select>

</mapper>