<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.RealauthMapper">

    <insert id="addRealauth">
        INSERT INTO realauth
        (realname,sex,bornDate,idNumber,address,state,image1,image2,applyTime,applier_id) VALUES
        (#{realname},#{sex},#{bornDate},#{idNumber},#{address},1,#{image1},#{image2},SYSDATE(),#{applier_id})
    </insert>


    <update id="updateRealauth">
    update realauth set remark=#{remark}, auditor_id=#{auditorId},state=#{state} where id=#{id}

    </update>


    <delete id="delRealauth">
        delete from realauth where id = #{id}
    </delete>


    <select id="selectRealauthByAppId" resultType="com.zking.ssm.model.Realauth">
        select * from realauth where applier_id = #{applierId}
    </select>


    <select id="selectRealauths" resultType="com.zking.ssm.model.Realauth">
        select * from realauth


    </select>
    <select id="selectRealauthByIdNumber" resultType="com.zking.ssm.model.Realauth">
        select * from realauth where idNumber = #{idNumber}
    </select>

</mapper>